*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #921d2d;
    background-color: #921d2d;
    background-image: url(img/fondoprincipal.jpg);
    font-family:  oswald, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{
    color: rgb(107, 2, 43);
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 100%;
    margin: auto;
}
/*NAVEGACION*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 100px;
}
/*NAVEGACION IZQUIERDA*/
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
